<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>班级管理</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment m-padded-td-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">教师管理页面</h2>
            <a href="#" th:href="@{/login/teacher/teacherIndex}" class=" m-item item m-mobile-hide"><i
                    class="home icon"></i>首页</a>
            <a href="#" th:href="@{/login/teacher/teacherHomework}" class=" m-item item m-mobile-hide"><i
                    class="idea icon"></i>布置作业</a>
            <a href="#" th:href="@{/login/teacher/gaizuoyeindex}" class="m-item item m-mobile-hide"><i
                    class="clone icon"></i>批改作业</a>
            <a href="#" th:href="@{/login/teacher/banji}"  class="active m-item item m-mobile-hide"><i class="idea icon"></i>班级管理</a>
            <div class="right menu m-item m-mobile-hide">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="https://picsum.photos/id/112/400/400" th:text="${user}">
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/login/teacher/person}" class="item"><i class="user icon"></i>个人中心</a>
                        <a href="#" class="item" th:href="@{/logout}"><i class="sign-out icon"></i>注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle button black m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--中间内容-->
<div class="m-padded-tb-big m-container">
    <div class="ui container">
        <div class="ui segment basic">
            <div class="ui grid ">
                <div class="ui segment top attached">
                    <div class="ui padded  segment vertical  m-padded-tb-big">
                        <div class="ui mobile reversed stackable grid center aligned">
                            <from>
                                <table class="ui celled table">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>用户名</th>
                                        <th>申请班级</th>
                                        <th>性别</th>
                                        <th>状态</th>
                                        <th>电话号码</th>
                                        <th>..</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user:${userList}">
                                        <td >1</td>
                                        <td th:text="${user.username}">1</td>
                                        <td th:text="${user.userclass}">1</td>
                                        <td th:text="${user.sex}">1</td>
                                        <td th:text="${user.status}?'已通过':'等待审核'" th:style="${user.status} ? 'color:green':'color:red'">未通过</td>
                                        <td th:text="${user.phone}">..</td>
                                        <td>..</td>
                                        <td>
                                            <a href="#" th:href="@{/login/teacher/shenhe/{id}(id=${user.id})}" th:unless="${user.status}" class="ui mini teal basic button">通过</a>
                                            <a href="#" th:href="@{/login/teacher/T/{id}(id=${user.id})}"  class="ui mini red orange basic button">不允许进入</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </from>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui grid">

        </div>
    </div>
</div>

<br>
<br>

<!--底部footer-->
<footer class="ui inverted segment vertical m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui grid divided stackable inverted">
            <div class="three wide  column">
                <h4 class="ui inverted header">关于</h4>
            </div>
            <div class="three wide  column">
                <h4 class="ui inverted header">地址</h4>
                <p>安徽省合肥市</p>
            </div>
            <div class="three wide  column">
                <h4 class="ui inverted header">所属权：</h4>
                <p>LH</p>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header"></h4>
                <p>@2020</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced">邮编：231131 电话：xxx QQ：885515333 E-mail：885515333@qq.com</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@4.7.0/dist/echarts.min.js"></script>

<script>
    $(".menu.toggle").click(function () {
        $(".m-item").toggleClass("m-mobile-hide");
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'//鼠标移上去就触发
    });
</script>
</body>
</html>