<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>下发作业</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui-calendar@0.0.8/dist/calendar.min.css">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment m-padded-td-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">教师管理页面</h2>
            <a href="#" th:href="@{/login/teacher/teacherIndex}" class=" m-item item m-mobile-hide"><i
                    class="home icon"></i>首页</a>
            <a href="#" th:href="@{/login/teacher/teacherHomework}" class="active m-item item m-mobile-hide"><i
                    class="idea icon"></i>布置作业</a>
            <a href="#" th:href="@{/login/teacher/teacherPublic}" class="m-item item m-mobile-hide"><i
                    class="clone icon"></i>批改作业</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>班级管理</a>
            <div class="right menu m-item m-mobile-hide">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="https://picsum.photos/id/112/400/400">Username01
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item"><i class="user icon"></i>个人中心</a>
                        <a href="#" class="item" th:href="@{/logout}"><i class="sign-out icon"></i>注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle button black m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--二级标题-->
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/login/teacher/teacherHomework}" class="item">作业总览</a>
            <a href="#" th:href="@{/login/teacher/homeworkPublic}" class="active teal item">下发作业</a>
            <a href="#" th:href="@{/login/teacher/addHomework}" class="item  ">编辑作业</a>
        </div>
    </div>
</div>
<!--中间内容-->
<div class="m-padded-tb-big m-container">


    <div class="ui container">
        <!--查询表单-->
        <h2 class="ui header center aligned">下发作业</h2>
        <form action="#" method="post" class="ui form">
            <!--<div class="ui left labeled input">
                <div class="ui selection dropdown label teal basic">
                    <input type="hidden" value="xx">
                    <i class="dropdown icon"></i>
                    <div class="default text">xx</div>
                    <div class="menu">
                        <div class="item" data-value="1">1</div>
                        <div class="item" data-value="2">2</div>
                        <div class="item" data-value="3">3</div>
                    </div>
                </div>
            </div>
            <div class="field">
                <input type="text" name="title" placeholder="标题">
            </div>-->
            <!-时间--->
            <div class="ui segment attached center aligned">
                <div class="ui calendar " id="example1">
                    <label>起始时间：</label>
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input type="text" placeholder="Date" value="">
                    </div>
                </div>
                <div class="ui calendar m-padded-mini" id="example2">
                    <label>截止时间：</label>
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input type="text" placeholder="Date" value="">
                    </div>
                </div>
            </div>
            <div class="ui segment attached center aligned">
                <div class="ui calendar m-padded-mini">
                    <label>作业标题：</label>
                    <div class="ui search dropdown  selection ">
                        <input type="hidden" name="note">
                        <i class="dropdown icon"></i>
                        <div class="default text">选择作业</div>
                        <div class="menu" id="note">
                            <div th:each="homework : ${homeworks}" th:text="${homework}" class="item" data-value="af">
                                Afghanistan
                            </div>
                        </div>
                    </div>
                </div>
                <div id="table-container">
                    <table th:fragment="homeworkList" class="ui compact teal table">
                        <thead>
                        <tr >
                            <td colspan="8"><h2>一、单选题</h2></td>
                        </tr>
                        <td colspan="8"></td>
                        <tr>
                            <th></th>
                            <th>单选题目</th>
                            <th>A选项</th>
                            <th>B选项</th>
                            <th>C选项</th>
                            <th>D选项</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="homeworkList:${homeworkLists}">
                            <td th:text="${iterStat.count}">1</td>
                            <td th:text="">内容</td>
                            <td th:text="">A</td>
                            <td th:text="">B</td>
                            <td th:text="">C</td>
                            <td th:text="">D</td>
                        </tr>
                        </tbody>
                        <td colspan="8"></td>
                        <tr >
                            <td colspan="8"><h2>二、填空题</h2></td>
                        </tr>
                        <td colspan="8"></td>
                        <tr>
                            <th></th>
                            <th>填空题题目</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="homeworkList:${homeworkLists}">
                            <td colspan="1" th:text="${iterStat.count}">1</td>
                            <td colspan="7" th:text="">内容</td>
                        </tr>
                        </tbody>
                        <td colspan="8"></td>
                        <tr >
                            <td colspan="8"><h2>三、解答题</h2></td>
                        </tr>
                        <td colspan="8"></td>
                        <tr>
                            <th></th>
                            <th>解答题目</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="homeworkList:${homeworkLists}">
                            <td colspan="1" th:text="${iterStat.count}">1</td>
                            <td colspan="7" th:text="${blog.title}">内容</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>

</div>

<br>
<br>

<!--底部footer-->
<footer class="ui inverted segment vertical m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui grid divided stackable inverted">
            <div class="three wide  column">
                <h4 class="ui inverted header">111</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">xxx</a>
                    <a href="#" class="item">xxx</a>
                    <a href="#" class="item">xxx</a>
                </div>
            </div>
            <div class="three wide  column">
                <h4 class="ui inverted header">111</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">xxx</a>
                    <a href="#" class="item">xxx</a>
                    <a href="#" class="item">xxx</a>
                </div>
            </div>
            <div class="three wide  column">
                <h4 class="ui inverted header">111</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">xxx</a>
                    <a href="#" class="item">xxx</a>
                    <a href="#" class="item">xxx</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">111</h4>
                <p>希望。。。。。。</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced">个人网站</p>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@4.7.0/dist/echarts.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui-calendar@0.0.8/dist/calendar.min.js"></script>
<script>
    $(".menu.toggle").click(function () {
        $(".m-item").toggleClass("m-mobile-hide");
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'//鼠标移上去就触发
    });
    // $('#example1').calendar({type: 'date'});
    $('#example1,#example2').calendar({
        type: 'datetime',
        initialDate: null,
        on: null,
        formatter: { // 自定义日期的格式
            date: function (date, settings) {
                if (!date) return '';
                var year = date.getFullYear();
                var month = date.getMonth() + 1;
                var day = date.getDate();
                month = month < 10 ? '0' + month : month;
                day = day < 10 ? '0' + day : day;
                return year + '-' + month + '-' + day;
            }
        }
    });
</script>
<script>
    $("#note").click(function () {
        $("#table-container").load(/*[[{/login/teacher/publishSearch}]]*/)
    });
</script>
</body>
</html>