<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>下发作业</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui-calendar@0.0.8/dist/calendar.min.css">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment m-padded-td-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">教师管理页面</h2>
            <a href="#" th:href="@{/login/teacher/teacherIndex}" class=" m-item item m-mobile-hide"><i
                    class="home icon"></i>首页</a>
            <a href="#" th:href="@{/login/teacher/teacherHomework}" class="active m-item item m-mobile-hide"><i
                    class="idea icon"></i>布置作业</a>
            <a href="#" th:href="@{/login/teacher/gaizuoyeindex}" class="m-item item m-mobile-hide"><i
                    class="clone icon"></i>批改作业</a>
            <a href="#" th:href="@{/login/teacher/banji}" class="m-item item m-mobile-hide"><i class="idea icon"></i>班级管理</a>
            <div class="right menu m-item m-mobile-hide">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="https://picsum.photos/id/112/400/400"><span th:text="${user}">Username01</span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/login/person}" class="item"><i class="user icon"></i>个人中心</a>
                        <a href="#" class="item" th:href="@{/logout}"><i class="sign-out icon"></i>注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle button black m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--二级标题-->
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/login/teacher/teacherHomework}" class="item">作业总览</a>
            <a href="#" th:href="@{/login/teacher/homeworkPublic}" class="active teal item">下发作业</a>
            <a href="#" th:href="@{/login/teacher/addHomework}" class="item  ">编辑作业</a>
        </div>
    </div>
</div>
<!--中间内容-->
<div class="m-padded-tb-big m-container">
    <div class="ui container">
        <!--查询表单-->
        <h2 class="ui header center aligned">下发作业</h2>
        <form action="#" method="post" class="ui form" th:action="@{/login/teacher/publish}">
            <!-时间--->
            <div class="ui segment attached center aligned ">
                <div class="ui calendar starttime">
                    <label>起始时间：</label>
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input type="text" autocomplete="off" placeholder="Date" id="starttime" name="starttime">
                    </div>
                </div>
                <div class="ui calendar m-padded-mini endtime">
                    <label>截止时间：</label>
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input autocomplete="off" id="endtime" name="endtime" type="text" placeholder="Date">
                    </div>
                </div>
                <div class="ui  m-padded-mini">
                    <label>班级：</label>
                    <div class="ui  search dropdown multiple selection dropdown">
                        <input type="hidden" name="banji" id="banji">
                        <i class="dropdown icon"></i>
                        <div class="default text">选择班级</div>
                        <div class="menu">
                            <div th:each="userclass :${userclass}" th:data-value="${userclass}"
                                 th:text="${userclass}" class="item" data-value="1">
                                初二(1)班
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui segment attached center aligned">
                <div class="ui  m-padded-mini">
                    <label>作业标题：</label>
                    <div th:if="${#strings.isEmpty(Note)}" class="ui search dropdown  selection">
                        <input type="hidden" id="note" name="note">
                        <i class="dropdown icon"></i>
                        <div class="default text">选择作业</div>
                        <div class="menu" id="note1">
                            <div th:each="publish : ${publishHomeworks}"
                                 th:data-value="${publish.note}+','+${publish.id}"
                                 th:text="${publish.note}" class="item" data-value="af">
                                Afghanistan
                            </div>
                        </div>
                    </div>
                    <input th:unless="${#strings.isEmpty(Note)}" style="display: none" name="note" th:value="${Note}" onload="loaddata()">
                    <span th:unless="${#strings.isEmpty(Note)}" th:value="${Note}" th:text="${Note}" ></span>
                </div>
                <div id="table-container">
                    <table id="zhanshi" th:fragment="homeworkList" class="ui compact teal table">
                        <thead>
                        <tr>
                            <td colspan="8"><h2>一、单选题</h2></td>
                        </tr>
                        <td colspan="8"></td>
                        <tr>
                            <th></th>
                            <th>单选题目</th>
                            <th>A选项</th>
                            <th>B选项</th>
                            <th>C选项</th>
                            <th>D选项</th>
                        </tr>
                        </thead>
                        <tbody th:each="testPager: ${testPagers}">
                        <tr th:unless="${testPager.questiontype!='Radio'}">
                            <td>1</td>
                            <td th:text="${testPager.content}">内容</td>
                            <td th:text="${testPager.radioA}">A</td>
                            <td th:text="${testPager.radioB}">B</td>
                            <td th:text="${testPager.radioC}">C</td>
                            <td th:text="${testPager.radioD}">D</td>
                        </tr>
                        </tbody>
                        <td colspan="8"></td>
                        <tr>
                            <td colspan="8"><h2>二、填空题</h2></td>
                        </tr>
                        <td colspan="8"></td>
                        <tr>
                            <th></th>
                            <th>填空题题目</th>
                        </tr>
                        </thead>
                        <tbody th:each="testPager: ${testPagers}">
                        <tr th:unless="${testPager.questiontype!='TK'}">
                            <td colspan="1">1</td>
                            <td colspan="7" th:text="${testPager.content}">内容</td>
                        </tr>
                        </tbody>
                        <td colspan="8"></td>
                        <tr>
                            <td colspan="8"><h2>三、解答题</h2></td>
                        </tr>
                        <td colspan="8"></td>
                        <tr>
                            <th></th>
                            <th>解答题目</th>
                        </tr>
                        </thead>
                        <tbody th:each="testPager: ${testPagers}">
                        <tr th:unless="${testPager.questiontype!='JD'}">
                            <td colspan="1">1</td>
                            <td colspan="7" th:text="${testPager.content}">内容</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ui error mini message"></div>
                <div class="bottom">
                    <button id="publish" class="ui button submit ">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>

<br>
<br>

<!--底部footer-->
<footer class="ui inverted segment vertical m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui grid divided stackable inverted">
            <div class="three wide  column">
                <h4 class="ui inverted header">关于</h4>
            </div>
            <div class="three wide  column">
                <h4 class="ui inverted header">地址</h4>
                <p>安徽省合肥市</p>
            </div>
            <div class="three wide  column">
                <h4 class="ui inverted header">所属权：</h4>
                <p>LH</p>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header"></h4>
                <p>@2020</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced">邮编：231131 电话：xxx QQ：885515333 E-mail：885515333@qq.com</p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@4.7.0/dist/echarts.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui-calendar@0.0.8/dist/calendar.min.js"></script>
<!--日历js-->
<script>
    $(".menu.toggle").click(function () {
        $(".m-item").toggleClass("m-mobile-hide");
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'//鼠标移上去就触发
    });
    // $('#example1').calendar({type: 'date'});
    $('.starttime').calendar({
        type: 'datetime',
        initialDate: null,
        endCalendar: $('.endtime'),
        on: null,
        ampm: false,
        text: {
            days: ['星期天', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'],
            months: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
            monthsShort: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
            today: 'Today',
            now: 'Now',
            am: '上午',
            pm: '下午'
        },
        formatter: { // 自定义日期的格式
            date: function (date, settings) {
                if (!date) return '';
                var year = date.getFullYear();
                var month = date.getMonth() + 1;
                var day = date.getDate();
                month = month < 10 ? '0' + month : month;
                day = day < 10 ? '0' + day : day;
                return year + '-' + month + '-' + day;
            }
        }
    });
    $('.endtime').calendar({
        type: 'datetime',
        initialDate: null,
        startCalendar: $('.starttime'),
        on: null,
        ampm: false,
        text: {
            days: ['星期天', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'],
            months: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
            monthsShort: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
            today: 'Today',
            now: 'Now',
            am: '上午',
            pm: '下午'
        },
        formatter: { // 自定义日期的格式
            date: function (date, settings) {
                if (!date) return '';
                var year = date.getFullYear();
                var month = date.getMonth() + 1;
                var day = date.getDate();
                month = month < 10 ? '0' + month : month;
                day = day < 10 ? '0' + day : day;
                return year + '-' + month + '-' + day;
            }
        }
    });

</script>
<script>
    $("#zhanshi").hide();

    $("#note1").click(
        loaddata()
    );

    function loaddata() {
        $("#table-container").load(/*[[@{/login/teacher/publishSearch}]]*/"/login/teacher/publishSearch", {
            note: $("[name='note']").val(),
        });
    }

    $("#note1").click(function () {
        $("#zhanshi").show();
    });
    $('.ui.form').form({
        fields: {
            starttime: {
                identifier: 'starttime',
                rules: [{
                    type: 'empty',
                    prompt: '请输入开始时间'
                }]
            },
            endtime: {
                identifier: 'endtime',
                rules: [{
                    type: 'empty',
                    prompt: '请输入截止时间'
                }]
            },
            banji: {
                identifier: 'banji',
                rules: [{
                    type: 'empty',
                    prompt: '请选择班级'
                }]
            },
            note: {
                identifier: 'note',
                rules: [{
                    type: 'empty',
                    prompt: '请选择作业'
                }]
            }
        }
    });
</script>
</body>
</html>