<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>教师主界面</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment m-padded-td-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">教师管理页面</h2>
            <a href="#" th:href="@{/login/teacher/teacherIndex}" class="active m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" th:href="@{/login/teacher/teacherHomework}" class=" m-item item m-mobile-hide"><i class="idea icon"></i>布置作业</a>
            <a href="#" th:href="@{/login/teacher/teacherPublic}"  class="m-item item m-mobile-hide"><i class="clone icon"></i>批改作业</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>班级管理</a>
            <div class="right menu m-item m-mobile-hide">
                <div class="ui dropdown item">
                    <div class="text" >
                        <img class="ui avatar image" src="https://picsum.photos/id/112/400/400" th:text="${user}">
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item"><i class="user icon"></i>个人中心</a>
                        <a href="#" class="item" th:href="@{/logout}"><i class="sign-out icon"></i>注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle button black m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--中间内容-->
<div class="m-padded-tb-big m-container">
    <div class="ui container">
        <div class="ui top center aligned teal segment">
            <h2 class="ui center aligned">班级统计</h2>
        </div>
        <div class="ui segment basic">
            <div class="ui grid ">
                <div class="ui segment top attached ">
                    <div class="ui padded  segment vertical  m-padded-tb-big ">
                        <div class="ui mobile reversed stackable grid">
                            <div class="nine wide column">
                                <div id="main1" class="ui center aligned" style="width: 600px;height:400px;"></div>
                            </div>
                            <div class="seven wide column">
                                <h2>完成度</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui segment top teal attached attached">
                    <div class="ui padded  segment vertical  m-padded-tb-big ">
                        <div class="ui mobile reversed stackable grid">
                            <div class="nine wide column">
                                <div id="main2" class="ui center aligned" style="width: 600px;height:400px;"></div>
                            </div>
                            <div class="seven wide column">
                                <h2>完成度</h2>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="ui grid">

        </div>
    </div>
</div>

<br>
<br>

<!--底部footer-->
<footer class="ui inverted segment vertical m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui grid divided stackable inverted">
            <div class="three wide  column">
                <h4 class="ui inverted header">111</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">xxx</a>
                    <a href="#" class="item">xxx</a>
                    <a href="#" class="item">xxx</a>
                </div>
            </div>
            <div class="three wide  column">
                <h4 class="ui inverted header">111</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">xxx</a>
                    <a href="#" class="item">xxx</a>
                    <a href="#" class="item">xxx</a>
                </div>
            </div>
            <div class="three wide  column">
                <h4 class="ui inverted header">111</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">xxx</a>
                    <a href="#" class="item">xxx</a>
                    <a href="#" class="item">xxx</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">111</h4>
                <p>希望。。。。。。</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced">个人网站</p>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@4.7.0/dist/echarts.min.js"></script>
<script type="text/javascript">
/*    var myChart = echarts.init(document.getElementById('main1'));
    var webkitDep = {
        "type": "force",
        "categories": [ //关系网类别，可以写多组
            {
                "name": "甲公司", //关系网名称
                "keyword": {},
                "base": "网格关系"
            },
            {
                "name": "乙公司", //关系网名称
                "keyword": {},
                "base": "网格关系"
            },
        ],
        "nodes": [ //展示的节点
            {
                "name": "0", //节点名称

                "symbolSize": 40,
                "category": 0 //与关系网类别索引对应，此处只有一个关系网所以这里写0

            },
            {
                "name": "1",

                "symbolSize": 25,
                "category": 0,
                itemStyle: {
                    color: '#3398db'
                }
            },
            {
                "name": "2",

                "symbolSize": 25,
                "category": 0,
                itemStyle: {
                    color: '#3398db'
                }
            }
        ],
        "links": [ //节点之间连接
            {
                "source": 0, //起始节点，0表示第一个节点
                "target": 1 ,//目标节点，1表示与索引为1的节点进行连接
                "name":'11'
            },
            {
                "source": 0,
                "target": 2,
                "des": 'link01des',
                "name":22
            },

        ]
    };
    myChart.hideLoading();

  var  option = {
        legend: {
            data: ['甲公司', '乙公司'] //此处的数据必须和关系网类别中name相对应
        },
        series: [{
            type: 'graph',
            layout: 'force',
            animation: false,
            label: {
                normal: {
                    show: true,
                    position: 'right'
                }
            },
            draggable: true,
            data: webkitDep.nodes.map(function(node, idx) {
                node.id = idx;
                return node;
            }),
            categories: webkitDep.categories,
            force: {
                edgeLength: 80, //连线的长度
                repulsion: 100 //子节点之间的间距
            },
            label : {
                normal : {
                    show : true,
                    textStyle : {}
                }
            },
            edgeLabel : {
                normal : {
                    show : true,
                    formatter : function(x) {
                        return x.data.name;
                    }
                }
            },
            edges: webkitDep.links
        }]
    };*/


    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main1'));
    // 指定图表的配置项和数据
    var option = {
        title: {
            left: 'center',
            text: '作业完成情况',
            top: 20,
            textStyle: {
                color: '#611',
            }
        },
        xAxis: {
            type: 'category',
            name: '时间',
            data: ['2020.4.1', '2020.4.2', '2020.4.3', '2020.4.4', '2020.4.5', '2020.4.6', '2020.4.7']
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: [120, 200, 150, 80, 70, 110, 130],
            type: 'bar',
            showBackground: true,
            backgroundStyle: {
                color: 'rgba(220, 220, 220, 0.8)'
            }
        }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
<script>
    $(".menu.toggle").click(function () {
        $(".m-item").toggleClass("m-mobile-hide");
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'//鼠标移上去就触发
    });
</script>
</body>
</html>