<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>答题区</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment m-padded-td-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">作业管理系统</h2>
            <a href="#" th:href="@{/login/student/}" class="active m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>待完成</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>掌握不牢的知识点</a>
            <div class="right item m-item m-mobile-hide">
                <!--  inverted transparent 让搜索框变黑色-->
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
            <div class="right menu m-item m-mobile-hide">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="https://picsum.photos/id/112/400/400"  ><span th:text="${user}">Username01</span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item"><i class="user icon"></i>个人中心</a>
                        <a href="#" class="item" th:href="@{/logout}"><i class="sign-out icon"></i>注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle button black m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--中间内容-->
<div class="m-padded-tb-big m-container-small">
    <div class="ui container">
        <div class="ui top attached segment">
            <div class="ui link list  horizontal">
                <div class="item">
                    <h5 class="content">发布者:</h5>
                </div>
                <div class="item">
                    <img src="https://picsum.photos/id/1/100/100#1025" alt=""
                         class="ui avatar image">
                    <div class="content">
                        <a  class="header"><span  th:each="testPager ,iterStat: ${testPagers}" th:if="${iterStat.first}" th:text="'发布老师：'+${testPager.publishHomework.username}">数学老师1</span></a>
                    </div>
                </div>
                <div class="item">
                    <i class="calendar icon" ></i><span th:each="testPager,iterStat: ${testPagers}" th:if="${iterStat.first}" th:text="'更新时间：'+${#dates.format(testPager.publishHomework.updatetime,'yyyy-MM-dd HH:mm')}">2020.4.1</span>
                </div>
                <div class="item">
                    <i class="eye icon"></i>200
                </div>
            </div>
        </div>
        <div class="ui segment attached">
            <span th:each="testPager,iterStat: ${testPagers}" th:if="${iterStat.first}" th:text="'截止时间：'+${#dates.format(testPager.publishHomework.endtime,'yyyy-MM-dd HH:mm')}">截止时间：</span>
        </div>
        <div class="ui segment attached  padded attached">
            <span th:each="testPager,iterStat: ${testPagers}" th:if="${iterStat.first}" th:text="${testPager.note}">作业标题</span>
            <form class="ui form large" th:action="@{/login/student/answer}" method="post">
                <div class="ui attached   ">
                    <input style="display:none;" id="publishid" name="publishid" th:value=" ${testPagers[0].publishHomework.id}">
                    <!--<div class="ui padded  segment vertical  m-padded-tb-big">-->
                    <div class="ui padded  segment vertical   ">
                        <div id="table-container">
                            <table class="ui compact teal table">
                                <thead th:if="${hasRadio}">
                                <tr>
                                    <td colspan="8"><h2>单选题</h2></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>单选题目</th>
                                    <th>A选项</th>
                                    <th>B选项</th>
                                    <th>C选项</th>
                                    <th>D选项</th>
                                    <th>你的答案</th>
                                </tr>
                                </thead>
                                <tbody th:each="testPager: ${testPagers}">
                                <tr th:unless="${testPager.questiontype!='Radio'}">
                                    <td>1</td>
                                    <td th:text="${testPager.content}">内容</td>
                                    <td th:text="${testPager.radioA}">A</td>
                                    <td th:text="${testPager.radioB}">B</td>
                                    <td th:text="${testPager.radioC}">C</td>
                                    <td th:text="${testPager.radioD}">D</td>
                                    <td>
                                        <div class="ui search dropdown  selection ">
                                            <input type="hidden" name="radio" placeholder="单选">
                                            <i class="dropdown icon"></i>
                                            <div class="default text" name="1">选择答案</div>
                                            <div class="menu">
                                                <div class="item" th:data-value="${testPager.id}+':'+A">
                                                    A
                                                </div>
                                                <div class="item" data-value="B"
                                                     th:data-value="${testPager.id}+':'+B">
                                                    B
                                                </div>
                                                <div class="item" data-value="C"
                                                     th:data-value="${testPager.id}+':'+C">
                                                    C
                                                </div>
                                                <div class="item" data-value="D"
                                                     th:data-value="${testPager.id}+':'+D">
                                                    D
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                                <thead th:if="${hasTK}">
                                <tr>
                                    <td colspan="8"><h2>填空题</h2></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>填空题题目</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>填空题答案</th>
                                </tr>
                                </thead>
                                <tbody th:each="testPager: ${testPagers}">
                                <tr th:unless="${testPager.questiontype!='TK'}">
                                    <td colspan="1">1</td>
                                    <td colspan="5" th:text="${testPager.content}">内容</td>
                                    <td colspan="2">
                                        <div class="ui input ">
                                            <input type="hidden" th:attrprepend="value=${testPager.id}"
                                                   name="tk-id">
                                            <input class="fluid" name="tk-answer" placeholder="填空题作答区">
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                                <thead th:if="${hasJD}">
                                <tr>
                                    <td colspan="8"><h2>解答题</h2></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>解答题目</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>你的答案</th>
                                </tr>
                                </thead>
                                <tbody th:each="testPager: ${testPagers}">
                                <tr th:unless="${testPager.questiontype!='JD'}">
                                    <td colspan="1">1</td>
                                    <td colspan="5" th:text="${testPager.content}">内容</td>
                                    <td colspan="2">
                                        <div class="ui input ">
                                            <input type="hidden" th:attrprepend="value=${testPager.id}"
                                                   name="jd-id">
                                            <textarea class="content1" name="jd-answer"
                                                      id="content" placeholder="解答题作答区"></textarea>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="ui error mini message"></div>
                <!--footer -->
                <!-- <div class="ui attached segment">
                                        <div class="ui grid center aligned column">
                                            <div class="column">
                                                <button class="ui primary submit button">提交</button>
                                            </div>
                                        </div>
                                    </div>-->
                <div class="ui attached ">
                    <div class="ui segment center aligned basic">
                        <div class="ui orange basic  circular item button" onclick="myCheck()">保存</div>
                        <div id="BT_submit" class="ui button item orange basic  circular">提交</div>
                    </div>
                    <div class="ui submit_Tip flowing popup transition hidden">
                        <div class="ui  divided center aligned grid">
                            <div class="segment ui basic ">
                                <h4 class="ui header">是否提交</h4>
                                <p>提交后不可修改</p>
                                <p>请仔细检查</p>
                                <div class="ui ">
                                    <button class="ui primary submit button">提交</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--<div class="m-padded-tb-big m-container  loading">
    <div class="ui container">
        <div class="ui grid">
            <!-top&ndash;&gt;
            <div class="column">
                &lt;!&ndash;header&ndash;&gt;
                <div class="ui segment top attached">
                    <div class="ui grid center aligned">
                        <div class="column">
                            <h2 class="ui teal header">xxx作业</h2>
                        </div>
                    </div>
                </div>
                &lt;!&ndash;content-&ndash;&gt;
                &lt;!&ndash;
                                <form class="ui form large" th:action="@{/login/student/answer}" method="post">
                                    <div class="ui attached segment">
                                        &lt;!&ndash;<div class="ui padded  segment vertical  m-padded-tb-big">&ndash;&gt;
                                        <div class="ui padded  segment vertical  m-padded-tb-big ">
                                            <div id="table-container">
                                                <table class="ui compact teal table">
                                                    <thead>
                                                    <tr>
                                                        <td colspan="8"><h2>一、单选题</h2></td>
                                                    </tr>
                                                    <td colspan="8"></td>
                                                    <tr>
                                                        <th></th>
                                                        <th>单选题目</th>
                                                        <th>A选项</th>
                                                        <th>B选项</th>
                                                        <th>C选项</th>
                                                        <th>D选项</th>
                                                        <th>你的答案</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody th:each="testPager: ${testPagers}">
                                                    <tr th:unless="${testPager.questiontype!='Radio'}">
                                                        <td>1</td>
                                                        <td th:text="${testPager.content}">内容</td>
                                                        <td th:text="${testPager.radioA}">A</td>
                                                        <td th:text="${testPager.radioB}">B</td>
                                                        <td th:text="${testPager.radioC}">C</td>
                                                        <td th:text="${testPager.radioD}">D</td>
                                                        <td>
                                                            <div class="ui search dropdown  selection " >
                                                                <input type="hidden" name="radio" placeholder="单选">
                                                                <i class="dropdown icon"></i>
                                                                <div class="default text" name="1">选择答案</div>
                                                                <div class="menu">
                                                                    <div class="item" th:data-value="${testPager.id}+':'+A">
                                                                        A
                                                                    </div>
                                                                    <div class="item" data-value="B"
                                                                         th:data-value="${testPager.id}+':'+B">
                                                                        B
                                                                    </div>
                                                                    <div class="item" data-value="C"
                                                                         th:data-value="${testPager.id}+':'+C">
                                                                        C
                                                                    </div>
                                                                    <div class="item" data-value="D"
                                                                         th:data-value="${testPager.id}+':'+D">
                                                                        D
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                    <td colspan="8"></td>
                                                    <tr>
                                                        <td colspan="8"><h2>二、填空题</h2></td>
                                                    </tr>
                                                    <td colspan="8"></td>
                                                    <tr>
                                                        <th></th>
                                                        <th>填空题题目</th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th>填空题答案</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody th:each="testPager: ${testPagers}">
                                                    <tr th:unless="${testPager.questiontype!='TK'}">
                                                        <td colspan="1">1</td>
                                                        <td colspan="5" th:text="${testPager.content}">内容</td>
                                                        <td colspan="2">
                                                            <div class="ui input ">
                                                                <input type="hidden" th:attrprepend="value=${testPager.id}"
                                                                       name="tk-id">
                                                                <input class="fluid" name="tk-answer">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                    <td colspan="8"></td>
                                                    <tr>
                                                        <td colspan="8"><h2>三、解答题</h2></td>
                                                    </tr>
                                                    <td colspan="8"></td>
                                                    <tr>
                                                        <th></th>
                                                        <th>解答题目</th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th>你的答案</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody th:each="testPager: ${testPagers}">
                                                    <tr th:unless="${testPager.questiontype!='JD'}">
                                                        <td colspan="1">1</td>
                                                        <td colspan="5" th:text="${testPager.content}">内容</td>
                                                        <td colspan="2">
                                                            <div class="ui input ">
                                                                <input type="hidden" th:attrprepend="value=${testPager.id}"
                                                                       name="jd-id">
                                                                <textarea class="content1" name="jd-answer"
                                                                          id="content"></textarea>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui error mini message"></div>
                                    &lt;!&ndash;footer &ndash;&gt;
                                    <div class="ui attached segment">
                                        <div class="ui grid center aligned column">

                                            <div class="column">
                                                <button class="ui primary submit button">提交</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                &ndash;&gt;
            </div>
        </div>
    </div>
</div>-->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--底部footer-->
<footer class="ui inverted segment vertical m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui grid divided stackable inverted">
            <div class="three wide  column">
                <h4 class="ui inverted header">关于</h4>
            </div>
            <div class="three wide  column">
                <h4 class="ui inverted header">地址</h4>
                <p>安徽省合肥市</p>
            </div>
            <div class="three wide  column">
                <h4 class="ui inverted header">所属权：</h4>
                <p>LH</p>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header"></h4>
                <p>@2020</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced">邮编：231131 电话：xxx QQ：885515333 E-mail：885515333@qq.com</p>
    </div>
</footer>



<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $(".menu.toggle").click(function () {
        $(".m-item").toggleClass("m-mobile-hide");
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'//鼠标移上去就触发
    });
    $('#BT_submit').popup({
        popup: $('.submit_Tip.popup'),
        on: 'click',
        position: 'bottom center'
    });
    $('.ui.form').form({
        fields: {
            radio: {
                identifier: 'radio',
                rules: [{
                    type: 'empty',
                    prompt: '选择题全未作答，请仔细检查'
                }]
            },
            tk: {
                identifier: 'tk-answer',
                rules: [{
                    type: 'empty',
                    prompt: '填空题全未作答，请仔细检查'
                }]
            },
            jd: {
                identifier: 'jd-answer',
                rules: [{
                    type: 'empty',
                    prompt: '解答题全未作答，请仔细检查'
                }]
            },
        }
    });
</script>

</body>
</html>