<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>已完成</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment m-padded-td-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">作业管理系统</h2>
            <a href="#" th:href="@{/login/student/}" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" th:href="@{/login/student/undo}"  class=" m-item item m-mobile-hide"><i class="idea icon"></i>待完成</a>
            <a href="#" th:href="@{/login/student/finish}" class="active m-item item m-mobile-hide"><i class="clone icon"></i>已完成</a>
          <!--  <div class="right item m-item m-mobile-hide">
                &lt;!&ndash;  inverted transparent 让搜索框变黑色&ndash;&gt;
                <div class="ui icon input inverted transparent">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>-->
            <div class="right menu m-item m-mobile-hide">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="https://picsum.photos/id/112/400/400" ><span th:text="${user}">Username01</span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/login/person}" class="item"><i class="user icon"></i>个人中心</a>
                        <a href="#" class="item" th:href="@{/logout}"><i class="sign-out icon"></i>注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle button black m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--中间内容-->
<div class="m-padded-tb-big m-container-small">
    <div class="ui container">
        <!--header-->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">已完成分类</h3>
                </div>
                <div class="right aligned  column">
                    共<h2 class="ui orange header m-inline-block m-text-thin" th:text="${sum}">14</h2>个
                </div>
            </div>
        </div>
        <!--标签-->
        <div class="ui attached segment">
            <div class="ui labeled button m-margin-tb-tiny m-padded-tb-large" th:unless="${math==0}">
                <a  class="ui basic teal button" onclick="lodadate(this)" data-value="数学" >数学</a>
                <div class="ui basic teal left pointing label" th:text="${math}">21</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny" th:unless="${chinese==0}">
                <a  class="ui basic button" onclick="lodadate(this)" data-value="语文">语文</a>
                <div class="ui basic  left pointing label" th:text="${chinese}">21</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny" th:unless="${English==0}">
                <a  class="ui basic button" onclick="lodadate(this)" data-value="英语">英语</a>
                <div class="ui basic  left pointing label" th:text="${English}">21</div>
            </div>
            <!--/*-->
            <div class="ui labeled button m-margin-tb-tiny" >
                <a href="#" class="ui basic button" >政治</a>
                <div class="ui basic  left pointing label">21</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic button">物理</a>
                <div class="ui basic  left pointing label">21</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic button">化学</a>
                <div class="ui basic  left pointing label">21</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic button">体育</a>
                <div class="ui basic  left pointing label">21</div>
            </div>
            <!--*/-->
        </div>
        <!--内容-->
        <div class="ui top attached segment teal show" th:fragment="publishList">
            <div class="ui padded  segment vertical  m-padded-tb-big" th:each="publish : ${page.content}" >
                <div class="ui middle aligned mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">
                            <a href="#"  th:href="@{/login/student/show/{id}(id=${publish.id})}" class="m-black" th:text="${publish.note}+'(已完成)'">2020.4.1
                                数学作业 </a>
                            <!--<label>(已完成)</label>-->
                        </h3>
                        <p class="m-text" th:text="'开始时间:'+${publish.starttime}">开始时间：2020.4.2 12：00</p>
                        <p class="m-text" th:text="'截止时间:'+${publish.endtime}">完成截止时间：2020.4.2 12：00</p>
                        <br>
                        <div class="ui grid">
                            <div class="eleven wide column">
                                <div class="ui link list mini horizontal">
                                    <div class="item">
                                        <h5 class="content">发布者:</h5>
                                    </div>
                                    <div class="item">
                                        <img src="https://picsum.photos/id/1/100/100" alt=""
                                             class="ui avatar image">
                                        <div class="content">
                                            <a href="#" class="header" th:text="${publish.username}">数学老师1</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>
                                        <span th:text="${#dates.format(publish.updatetime,'yyyy-MM-dd')}">2020.4.1</span>
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>200
                                    </div>
                                    <div class="item">
                                        <span  th:text="${publish.course.coursename}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" target="" th:href="@{/login/student/show/{id}(id=${publish.id})}" class="ui teal basic label m-padded-td-tiny">任务详情</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/id/1/800/450" alt="" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <!--/*-->
            <div class="ui padded segment vertical m-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">2020.4.1 数学作业</h3>
                        <p class="m-text">完成截止时间：2020.4.2 12：00</p>
                        <br>
                        <br>
                        <div class="ui  grid">
                            <div class="eleven wide column">
                                <div class="ui link list mini horizontal">
                                    <div class="item">
                                        <h5 class="content">发布者:</h5>
                                    </div>
                                    <div class="item">
                                        <img src="https://picsum.photos/id/1/100/100#1025" alt=""
                                             class="ui avatar image">
                                        <div class="content">
                                            <a href="#" class="header">数学老师1</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>2020.4.1
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>200
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" target="" class="ui teal basic label m-padded-td-tiny">任务详情</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/id/1/800/450#1025" alt="" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded segment vertical m-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">2020.4.1 数学作业</h3>
                        <p class="m-text">完成截止时间：2020.4.2 12：00</p>
                        <br>
                        <br>
                        <div class="ui  grid">
                            <div class="eleven wide column">
                                <div class="ui link list mini horizontal">
                                    <div class="item">
                                        <h5 class="content">发布者:</h5>
                                    </div>
                                    <div class="item">
                                        <img src="https://picsum.photos/id/1/100/100#1025" alt=""
                                             class="ui avatar image">
                                        <div class="content">
                                            <a href="#" class="header">数学老师1</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>2020.4.1
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>200
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" target="" class="ui teal basic label m-padded-td-tiny">任务详情</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/id/1/800/450#1025" alt="" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded segment vertical m-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">2020.4.1 数学作业</h3>
                        <p class="m-text">完成截止时间：2020.4.2 12：00</p>
                        <br>
                        <br>

                        <div class="ui  grid">
                            <div class="eleven wide column">
                                <div class="ui link list mini horizontal">
                                    <div class="item">
                                        <h5 class="content">发布者:</h5>
                                    </div>
                                    <div class="item">
                                        <img src="https://picsum.photos/id/1/100/100#1025" alt=""
                                             class="ui avatar image">
                                        <div class="content">
                                            <a href="#" class="header">数学老师1</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>2020.4.1
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>200
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" target="" class="ui teal basic label m-padded-td-tiny">任务详情</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/id/1/800/450#1025" alt="" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded segment vertical m-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">2020.4.1 数学作业</h3>
                        <p class="m-text">完成截止时间：2020.4.2 12：00</p>
                        <br>
                        <br>

                        <div class="ui  grid">
                            <div class="eleven wide column">
                                <div class="ui link list mini horizontal">
                                    <div class="item">
                                        <h5 class="content">发布者:</h5>
                                    </div>
                                    <div class="item">
                                        <img src="https://picsum.photos/id/1/100/100#1025" alt=""
                                             class="ui avatar image">
                                        <div class="content">
                                            <a href="#" class="header">数学老师1</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>2020.4.1
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>200
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" target="" class="ui teal basic label m-padded-td-tiny">任务详情</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/id/1/800/450#1025" alt="" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <!--*/-->
        </div>
        <!--footer-->
        <div class="ui attached teal segment">
            <div class="ui grid two column" th:if="${page.totalPages}>1">
                <div class="column">
                    <a th:href="@{/login/student/finish(page=${page.number}-1)}"
                       th:unless="${page.first}" href="#" class="ui button teal basic mini" >上一页</a>
                </div>
                <div class="column right aligned">
                    <a th:href="@{/login/student/finish(page=${page.number}+1)}"
                       th:unless="${page.first}" href="#" class="ui button teal basic mini">下一页</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>


<!--底部footer-->
<footer class="ui inverted segment vertical m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui grid divided stackable inverted">
            <div class="three wide  column">
                <h4 class="ui inverted header">关于</h4>
            </div>
            <div class="three wide  column">
                <h4 class="ui inverted header">地址</h4>
                <p>安徽省合肥市</p>
            </div>
            <div class="three wide  column">
                <h4 class="ui inverted header">所属权：</h4>
                <p>LH</p>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header"></h4>
                <p>@2020</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced">邮编：231131 电话：xxx QQ：885515333 E-mail：885515333@qq.com</p>
    </div>
</footer>



<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $(".menu.toggle").click(function () {
        $(".m-item").toggleClass("m-mobile-hide");
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'//鼠标移上去就触发
    });
    function lodadate(c) {
        $(".show").load(/*[[@{/login/student/CoursePublish}]]*/"/login/student/CoursePublish", {
            course: c.getAttribute("data-value"),
        });
    }
</script>
</body>
</html>